<a href="https://colab.research.google.com/github/Aparna-981/ict-project/blob/main/get_data_from_diff_sources_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import requests

**STEP 1**:  Load SpaceX Launch Data from API

In [15]:
url=("https://api.spacexdata.com/v4/launches")
response=requests.get(url)
launch=response.json()
launch_df = pd.DataFrame(launch)
launch_df

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,...,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,...,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a
1,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,...,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b
2,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,...,2008-08-03T03:34:00.000Z,1217734440,2008-08-03T15:34:00+12:00,hour,False,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",True,False,None,5eb87cdbffd86e000604b32c
3,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,...,2008-09-28T23:15:00.000Z,1222643700,2008-09-28T11:15:00+12:00,hour,False,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,False,None,5eb87cdbffd86e000604b32d
4,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,...,2009-07-13T03:35:00.000Z,1247456100,2009-07-13T15:35:00+12:00,hour,False,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,False,None,5eb87cdcffd86e000604b32e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,None,[],None,...,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': Tr...",True,False,None,633f72580531f07b4fdf59c6
201,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,None,[],None,...,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T16:00:00-08:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,63161384ffc78f3b8567070e
202,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,None,[],None,...,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,6243ae58af52800c6e91925a
203,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69974db09d1ed,None,[],None,...,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': Tr...",True,False,None,633f72130531f07b4fdf59c3
204,"{'reused': None, 'recovery_attempt': None, 're...","{'patch': {'small': None, 'large': None}, 'red...",None,NaN,False,NaN,5e9d0d95eda69973a809d1ec,None,[],None,...,2022-12-01T00:00:00.000Z,1669852800,2022-11-30T19:00:00-05:00,month,True,"[{'core': None, 'flight': None, 'gridfins': No...",True,False,None,6243ae7daf52800c6e91925b

In [39]:
launch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      205 non-null    object
 1   date_utc  205 non-null    object
 2   success   186 non-null    object
 3   details   134 non-null    object
 4   rocket    205 non-null    object
dtypes: object(5)
memory usage: 8.1+ KB

In [40]:
launch_df.isnull().sum()

name         0
date_utc     0
success     19
details     71
rocket       0
dtype: int64

In [45]:
launch_table=launch_df[['name', 'date_utc', 'success', 'details', 'rocket']].copy()
launch_table

,name,date_utc,success,details,rocket
0,FalconSat,2006-03-24T22:30:00.000Z,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb
1,DemoSat,2007-03-21T01:10:00.000Z,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb
2,Trailblazer,2008-08-03T03:34:00.000Z,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb
3,RatSat,2008-09-28T23:15:00.000Z,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb
4,RazakSat,2009-07-13T03:35:00.000Z,True,None,5e9d0d95eda69955f709d1eb
...,...,...,...,...,...
200,Transporter-6,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
201,TTL-1,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
202,WorldView Legion 1 & 2,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
203,Viasat-3 & Arcturus,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69974db09d1ed
204,O3b mPower 3.4,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec

Extract relevant columns: name, date_utc, success, details, rocket

In [55]:
launch_table['datetime'] = pd.to_datetime(launch_table['date_utc'])
launch_table['year'] = launch_table['datetime'].dt.year

In [56]:
launch_table

,name,date_utc,success,details,rocket,datetime,year
0,FalconSat,2006-03-24T22:30:00.000Z,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006-03-24 22:30:00+00:00,2006
1,DemoSat,2007-03-21T01:10:00.000Z,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007-03-21 01:10:00+00:00,2007
2,Trailblazer,2008-08-03T03:34:00.000Z,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008-08-03 03:34:00+00:00,2008
3,RatSat,2008-09-28T23:15:00.000Z,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008-09-28 23:15:00+00:00,2008
4,RazakSat,2009-07-13T03:35:00.000Z,True,None,5e9d0d95eda69955f709d1eb,2009-07-13 03:35:00+00:00,2009
...,...,...,...,...,...,...,...
200,Transporter-6,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
201,TTL-1,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
202,WorldView Legion 1 & 2,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
203,Viasat-3 & Arcturus,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69974db09d1ed,2022-12-01 00:00:00+00:00,2022
204,O3b mPower 3.4,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022

Convert date_utc to datetime and extract the year

In [57]:
launch_table_exact=launch_table.drop(columns=['date_utc'])
launch_table_exact

,name,success,details,rocket,datetime,year
0,FalconSat,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006-03-24 22:30:00+00:00,2006
1,DemoSat,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007-03-21 01:10:00+00:00,2007
2,Trailblazer,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008-08-03 03:34:00+00:00,2008
3,RatSat,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008-09-28 23:15:00+00:00,2008
4,RazakSat,True,None,5e9d0d95eda69955f709d1eb,2009-07-13 03:35:00+00:00,2009
...,...,...,...,...,...,...
200,Transporter-6,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
201,TTL-1,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
202,WorldView Legion 1 & 2,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022
203,Viasat-3 & Arcturus,None,None,5e9d0d95eda69974db09d1ed,2022-12-01 00:00:00+00:00,2022
204,O3b mPower 3.4,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022

Step 2: Load Rocket Metadata

In [58]:
rocket=pd.read_json("https://api.spacexdata.com/v4/rockets")
rocket

,height,diameter,mass,first_stage,second_stage,engines,landing_legs,payload_weights,flickr_images,name,...,stages,boosters,cost_per_launch,success_rate_pct,first_flight,country,company,wikipedia,description,id
0,"{'meters': 22.25, 'feet': 73}","{'meters': 1.6800000000000002, 'feet': 5.5}","{'kg': 30146, 'lb': 66460}","{'thrust_sea_level': {'kN': 420, 'lbf': 94000}...","{'thrust': {'kN': 31, 'lbf': 7000}, 'payloads'...","{'isp': {'sea_level': 267, 'vacuum': 304}, 'th...","{'number': 0, 'material': None}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...","[https://imgur.com/DaCfMsj.jpg, https://imgur....",Falcon 1,...,2,0,6700000,40,2006-03-24,Republic of the Marshall Islands,SpaceX,https://en.wikipedia.org/wiki/Falcon_1,The Falcon 1 was an expendable launch system p...,5e9d0d95eda69955f709d1eb
1,"{'meters': 70, 'feet': 229.6}","{'meters': 3.7, 'feet': 12}","{'kg': 549054, 'lb': 1207920}","{'thrust_sea_level': {'kN': 7607, 'lbf': 17100...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 4, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm1.staticflickr.com/929/2878733830...,Falcon 9,...,2,0,50000000,98,2010-06-04,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_9,Falcon 9 is a two-stage rocket designed and ma...,5e9d0d95eda69973a809d1ec
2,"{'meters': 70, 'feet': 229.6}","{'meters': 12.2, 'feet': 39.9}","{'kg': 1420788, 'lb': 3125735}","{'thrust_sea_level': {'kN': 22819, 'lbf': 5130...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 12, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm5.staticflickr.com/4599/385838292...,Falcon Heavy,...,2,2,90000000,100,2018-02-06,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_Heavy,With the ability to lift into orbit over 54 me...,5e9d0d95eda69974db09d1ed
3,"{'meters': 118, 'feet': 387}","{'meters': 9, 'feet': 30}","{'kg': 1335000, 'lb': 2943000}","{'thrust_sea_level': {'kN': 128000, 'lbf': 287...","{'thrust': {'kN': 1957, 'lbf': 440000}, 'paylo...","{'isp': {'sea_level': 330, 'vacuum': 380}, 'th...","{'number': 6, 'material': 'stainless steel'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://live.staticflickr.com/65535/489541389...,Starship,...,2,0,7000000,0,2021-12-01,United States,SpaceX,https://en.wikipedia.org/wiki/SpaceX_Starship,Starship and Super Heavy Rocket represent a fu...,5e9d0d96eda699382d09d1ee

In [59]:
rocket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   height            4 non-null      object
 1   diameter          4 non-null      object
 2   mass              4 non-null      object
 3   first_stage       4 non-null      object
 4   second_stage      4 non-null      object
 5   engines           4 non-null      object
 6   landing_legs      4 non-null      object
 7   payload_weights   4 non-null      object
 8   flickr_images     4 non-null      object
 9   name              4 non-null      object
 10  type              4 non-null      object
 11  active            4 non-null      bool
 12  stages            4 non-null      int64
 13  boosters          4 non-null      int64
 14  cost_per_launch   4 non-null      int64
 15  success_rate_pct  4 non-null      int64
 16  first_flight      4 non-null      object
 17  country           4 non-null      object
 18  company           4 non-null      object
 19  wikipedia         4 non-null      object
 20  description       4 non-null      object
 21  id                4 non-null      object
dtypes: bool(1), int64(4), object(17)
memory usage: 808.0+ bytes

In [60]:
rocket.isnull().sum()

height              0
diameter            0
mass                0
first_stage         0
second_stage        0
engines             0
landing_legs        0
payload_weights     0
flickr_images       0
name                0
type                0
active              0
stages              0
boosters            0
cost_per_launch     0
success_rate_pct    0
first_flight        0
country             0
company             0
wikipedia           0
description         0
id                  0
dtype: int64

Extract id, name, type, active, and stages

In [61]:
rocket_table=rocket[['id', 'name', 'type', 'active','stages']].copy()

In [62]:
rocket_table

                         id          name    type  active  stages
0  5e9d0d95eda69955f709d1eb      Falcon 1  rocket   False       2
1  5e9d0d95eda69973a809d1ec      Falcon 9  rocket    True       2
2  5e9d0d95eda69974db09d1ed  Falcon Heavy  rocket    True       2
3  5e9d0d96eda699382d09d1ee      Starship  rocket   False       2

Step 3: Merge Launch and Rocket Data

In [76]:
df_rockets = rocket_table.set_index('id').add_suffix('_rocket')

merged_launch_rocket = launch_table_exact.join(df_rockets, on='rocket')
merged_launch_rocket

,name,success,details,rocket,datetime,year,name_rocket,type_rocket,active_rocket,stages_rocket
0,FalconSat,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006-03-24 22:30:00+00:00,2006,Falcon 1,rocket,False,2
1,DemoSat,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007-03-21 01:10:00+00:00,2007,Falcon 1,rocket,False,2
2,Trailblazer,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008-08-03 03:34:00+00:00,2008,Falcon 1,rocket,False,2
3,RatSat,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008-09-28 23:15:00+00:00,2008,Falcon 1,rocket,False,2
4,RazakSat,True,None,5e9d0d95eda69955f709d1eb,2009-07-13 03:35:00+00:00,2009,Falcon 1,rocket,False,2
...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2
201,TTL-1,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2
202,WorldView Legion 1 & 2,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2
203,Viasat-3 & Arcturus,None,None,5e9d0d95eda69974db09d1ed,2022-12-01 00:00:00+00:00,2022,Falcon Heavy,rocket,True,2
204,O3b mPower 3.4,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2

Step 4: Add Simulated Country Information

 Add a new column country and randomly assign one of these values:
['USA', 'Russia', 'India', 'China', 'France']

In [89]:

countries = ['USA', 'Russia', 'India', 'China', 'France']
merged_launch_rocket['country'] = np.random.choice(countries,size=len(merged_launch_rocket))
merged_launch_rocket

,name,success,details,rocket,datetime,year,name_rocket,type_rocket,active_rocket,stages_rocket,country
0,FalconSat,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006-03-24 22:30:00+00:00,2006,Falcon 1,rocket,False,2,China
1,DemoSat,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007-03-21 01:10:00+00:00,2007,Falcon 1,rocket,False,2,USA
2,Trailblazer,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008-08-03 03:34:00+00:00,2008,Falcon 1,rocket,False,2,China
3,RatSat,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008-09-28 23:15:00+00:00,2008,Falcon 1,rocket,False,2,USA
4,RazakSat,True,None,5e9d0d95eda69955f709d1eb,2009-07-13 03:35:00+00:00,2009,Falcon 1,rocket,False,2,Russia
...,...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2,Russia
201,TTL-1,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2,USA
202,WorldView Legion 1 & 2,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2,Russia
203,Viasat-3 & Arcturus,None,None,5e9d0d95eda69974db09d1ed,2022-12-01 00:00:00+00:00,2022,Falcon Heavy,rocket,True,2,Russia
204,O3b mPower 3.4,None,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,True,2,France

Step 5: Store Merged Data in SQLite3
â— Use sqlite3 to create a connection and save the merged DataFrame as a table named
launches
â— Table should contain all merged columns including country

In [90]:
import sqlite3

In [106]:
con=sqlite3.connect("SpaceX_launch_rocket.db")

In [107]:
merged_launch_rocket.to_sql("launches",con,index=False)

205

In [108]:
launches_rocket=pd.read_sql("select * from launches",con)
launches_rocket

,name,success,details,rocket,datetime,year,name_rocket,type_rocket,active_rocket,stages_rocket,country
0,FalconSat,0.0,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006-03-24 22:30:00+00:00,2006,Falcon 1,rocket,0,2,China
1,DemoSat,0.0,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007-03-21 01:10:00+00:00,2007,Falcon 1,rocket,0,2,USA
2,Trailblazer,0.0,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008-08-03 03:34:00+00:00,2008,Falcon 1,rocket,0,2,China
3,RatSat,1.0,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008-09-28 23:15:00+00:00,2008,Falcon 1,rocket,0,2,USA
4,RazakSat,1.0,None,5e9d0d95eda69955f709d1eb,2009-07-13 03:35:00+00:00,2009,Falcon 1,rocket,0,2,Russia
...,...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,NaN,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,1,2,Russia
201,TTL-1,NaN,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,1,2,USA
202,WorldView Legion 1 & 2,NaN,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,1,2,Russia
203,Viasat-3 & Arcturus,NaN,None,5e9d0d95eda69974db09d1ed,2022-12-01 00:00:00+00:00,2022,Falcon Heavy,rocket,1,2,Russia
204,O3b mPower 3.4,NaN,None,5e9d0d95eda69973a809d1ec,2022-12-01 00:00:00+00:00,2022,Falcon 9,rocket,1,2,France

Step 6: Run SQL Queries on the Data to analyze
1. Launches by Country
2. Which year had the highest number of launches?
3. Top 5 Missions by Launch Count

In [126]:
#Launches by Country
cursor=con.cursor()
cursor.execute("select count(*) as count_launches ,country from launches group by country order by count_launches desc  ")
row=cursor.fetchall()
for i in row:
  print(i)

(49, 'Russia')
(46, 'France')
(39, 'India')
(39, 'China')
(32, 'USA')

In [125]:
#Which year had the highest number of launches?
cursor.execute("select year,count(*) as count_launches from launches group by year order by count_launches   desc limit 1")
row=cursor.fetchall()
for i in row:
  print(i)

(2022, 62)

In [124]:
#Top 5 Missions by Launch Count
mission ="select name as mission_count, count(*) as count_launches from launches group by name order by count_launches   desc limit 5"
pd.read_sql_query(mission,con)

               mission_count  count_launches
0  ispace Mission 1 & Rashid               1
1                       ZUMA               1
2     WorldView Legion 1 & 2               1
3        Viasat-3 & Arcturus               1
4                    USSF-44               1

In [129]:
mission_rocket ="select name as mission_count, count(*) as count_launches from launches group by name_rocket order by count_launches   desc"
pd.read_sql_query(mission_rocket,con)

              mission_count  count_launches
0      Falcon 9 Test Flight             195
1  Falcon Heavy Test Flight               5
2                 FalconSat               5